
:root {

    --color-primary: #2A628F;

    --color-primary-dry: #21897E;
    --color-secondary-dry: #1c7269;
    --color-button-dry: #18554f;

    --color-primary-cold: #69D1C5;
    --color-secondary-cold: #5ab1a7;
    --color-button-cold: #478b83;

    --color-primary-frozen: #7EBCE6;
    --color-secondary-frozen: #70a7cc;
    --color-button-frozen: #5d89a7;

    --color-primary-global: #979696;
    --color-secondary-global: #707070;
    --color-button-global: #646464;

    
    --color-count-list-item-dry-hover: #12413c;
    --color-count-list-item-dry-active: #38bbae;

    --color-count-list-item-cold-hover: #3a706a;
    --color-count-list-item-cold-active: #56aaa0;

    --color-count-list-item-frozen-hover: #4c6f86;
    --color-count-list-item-frozen-active: #7ab1d6;

    --color-count-list-item-global-hover: #474747;
    --color-count-list-item-global-active: #8f8f8f;


    --color-text-light: #FFFFFF;
  }
  .lol button{

    background-color:var(--color-primary);
    border: none;
    color: var(--color-text-light);
    padding: 0px 0px;
    margin:0px 0px 0px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 16px; 
    font-weight: bold;   
    height: 63px;
    width:33.33%;
    display: inline-block;

  }  
  .lol h4{
    
    width:5%;
    vertical-align: middle;
    display: inline-block;
  }  
  .lol h3{

    width:50%;
    vertical-align: middle; 
    display: inline-block;
    margin-left: 10px;
  } 
  .count-footer button{

    background-color:var(--color-primary);
    border: none;
    color: var(--color-text-light);
    padding: 0px 0px;
    margin:0px 0px 0px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 16px; 
    font-weight: bold;   
    height: 64px;
    width:100%;
  }
 
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;    
    height: 42px;
  }
  input[type=tel] {
    padding: 0;
    height: 40px;
    position: relative;
    left: 0;
    outline: none;
    border: 0px;  
    border-color: rgba(0, 0, 0, .50);
    background-color: white;
    font-size: 16px;
  }
  *:focus {outline:none !important}

 
  
.pallet-counter-tumba
{
  float:left;
  width:4000px;
  height:64px;
}

.dol-gul-dur
{
  float:left;
  width:128px;
}


.department-checkbox
{
  float:left;
}
.department-checkbox h3
{
  margin-left: 20px;
}

.pallet-counter-header
{
  width:4000px;
  height:48px;

}

.pallet-counter-sub_header
{
  width:4000px;
  height:48px;

}

.pallet-counter-toolbar
{
  float:left;
  position:fixed;
  width:4000px;
  height:64px;  
  bottom: 0px;
  background-color: var(--color-secondary-global);
}

.pallet-counter-sub_header-title-dry
{
  background-color: var(--color-secondary-dry);
  text-align: center;
  float: left;
  width: 512px;
  height:48px;
}

.pallet-counter-sub_header-title-dry h2
{  
    color:var(--color-text-light);
    margin-top: 8px;
    
}



.pallet-counter-header-title-sidebar
{
  background-color: #FFFFFF;
  float: left;
  width: 128px;
  height:48px;
}
.pallet-counter-header-title-dry
{
  background-color: var(--color-secondary-dry);
  text-align: center;
  float: left;
  width: 512px;
  height:48px;
}
.pallet-counter-header-title-cold
{
  background-color: var(--color-secondary-cold);
  text-align: center;
  float: left;
  width: 512px;
  height:48px;
}
.pallet-counter-header-title-frozen
{
  background-color: var(--color-secondary-frozen);
  text-align: center;
  float: left;
  width: 512px;
  height:48px;
}
.pallet-counter-header-title-global
{
  background-color: var(--color-secondary-global);
  text-align: center;
  float: left;
  width: 512px;
  height:48px;
}

.pallet-counter-header-title-sidebar h2
{
    display:block;   
    color:#000000;
    margin-top: 8px;
}
.pallet-counter-header-title-dry h2
{
    display:block;   
    color:var(--color-text-light);
    margin-top: 8px;
}
.pallet-counter-header-title-cold h2
{
    display:block;   
    color:var(--color-text-light);
    margin-top: 8px;
}
.pallet-counter-header-title-frozen h2
{
    display:block;   
    color:var(--color-text-light);
    margin-top: 8px;
}
.pallet-counter-header-title-global h2
{
    display:block;   
    color:var(--color-text-light);
    margin-top: 8px;
}









.count-list-item-dry-even{
    background-color: var(--color-primary-dry);
    float: left;
    padding-top: 32px;
    padding-left: 16px;     
    padding-right: 16px;   
}
.count-list-item-dry-odd{
    background-color: var(--color-secondary-dry);
    float: left;
    padding-top: 32px;
    padding-right: 16px; 
}
.count-list-item-cold-even{
    background-color: var(--color-primary-cold);
    float: left;
    padding-top: 32px;
    padding-left: 16px;      
    padding-right: 16px; 
}
.count-list-item-cold-odd{
    background-color: var(--color-secondary-cold);
    float: left;
    padding-top: 32px;  
    padding-left: 16px;    
    padding-right:16px; 
}
.count-list-item-frozen-even{
    background-color: var(--color-primary-frozen);
    float: left;
    padding-top: 32px;  
    padding-left: 16px;    
    padding-right: 16px; 
}
.count-list-item-frozen-odd{
    background-color: var(--color-secondary-frozen);
    float: left;
    padding-top: 32px; 
    padding-left: 16px;     
    padding-right: 16px; 
}
.count-list-item-global-even{
    background-color: var(--color-primary-global);
    float: left;
    padding-top: 32px; 
    padding-left: 16px;     
    padding-right: 16px;  
}
.count-list-item-global-odd{
    background-color: var(--color-secondary-global);
    float: left;
    padding-top: 32px; 
    padding-left: 16px;     
    padding-right: 16px;  
}









  .count-list-item-dry-even h1{

    display: inline;
    color:var(--color-text-light);
  }
  .count-list-item-dry-odd h1{

    display: inline;
    color:var(--color-text-light);
  }
  .count-list-item-dry-even button{
    background-color: var(--color-button-dry);
    border: none;
    color: white;
    margin-top: -16px;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;    
    height: 32px;
    width:32px;
    display: inline;
    float: right;
  }  
  .count-list-item-dry-odd button{
    background-color: var(--color-button-dry);
    border: none;
    color: white;
    margin-top: -16px;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;    
    height: 32px;
    width:32px;
    display: inline;
    float: right;
  } 
  .count-list-item-dry-even input[type=tel]{
    padding: 0;
    height: 32px;
    width:32px;
    position: relative;
    text-align: center;
    margin-top: -16px;
    margin-bottom: 16px;
    left: 0;
    outline: none;
    border: 0px;
    border-color: rgba(0, 0, 0, .50);
    background-color: white;
    font-size: 16px;
    display: inline;
    float: right;
  }  
  .count-list-item-dry-odd input[type=tel]{
    padding: 0;
    height: 32px;
    width:32px;
    position: relative;
    text-align: center;
    margin-top: -16px;
    margin-bottom: 16px;
    left: 0;
    outline: none;
    border: 0px;  
    border-color: rgba(0, 0, 0, .50);
    background-color: white;
    font-size: 16px;
    display: inline;
    float: right;
  } 

  .count-list-item-dry-even button:hover{

    background-color:var(--color-count-list-item-dry-hover);
  }
  .count-list-item-dry-even button:active{

    background-color:var(--color-count-list-item-dry-active);
  }
  .count-list-item-dry-odd button:hover{

    background-color:var(--color-count-list-item-dry-hover);
  }
  .count-list-item-dry-odd button:active{

    background-color:var(--color-count-list-item-dry-active);
  }

  .count-list-item-cold-even button:hover{

    background-color:var(--color-count-list-item-cold-hover);
  }
  .count-list-item-cold-even button:active{

    background-color:var(--color-count-list-item-cold-active);
  }
  .count-list-item-cold-odd button:hover{

    background-color:var(--color-count-list-item-cold-hover);
  }
  .count-list-item-cold-odd button:active{

    background-color:var(--color-count-list-item-cold-active);
  }

  .count-list-item-frozen-even button:hover{

    background-color:var(--color-count-list-item-frozen-hover);
  }
  .count-list-item-frozen-even button:active{

    background-color:var(--color-count-list-item-frozen-active);
  }
  .count-list-item-frozen-odd button:hover{

    background-color:var(--color-count-list-item-frozen-hover);
  }
  .count-list-item-frozen-odd button:active{

    background-color:var(--color-count-list-item-frozen-active);
  }

  .count-list-item-global-even button:hover{

    background-color:var(--color-count-list-item-global-hover);
  }
  .count-list-item-global-even button:active{

    background-color:var(--color-count-list-item-global-active);
  }
  .count-list-item-global-odd button:hover{

    background-color:var(--color-count-list-item-global-hover);
  }
  .count-list-item-global-odd button:active{

    background-color:var(--color-count-list-item-global-active);
  }



 
.count-list-item-cold-even h1{

  display: inline;
  color:var(--color-text-light);
}
.count-list-item-cold-odd h1{

  display: inline;
  color:var(--color-text-light);
}
.count-list-item-cold-even button{
  background-color: var(--color-button-cold);
  border: none;
  color: white;
  margin-top: -16px;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;    
  height: 32px;
  width:32px;
  display: inline;
  float: right;
}  
.count-list-item-cold-odd button{
  background-color: var(--color-button-cold);
  border: none;
  color: white;
  margin-top: -16px;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;    
  height: 32px;
  width:32px;
  display: inline;
  float: right;
} 
.count-list-item-cold-even input[type=tel]{
  padding: 0;
  height: 32px;
  width:32px;
  position: relative;
  text-align: center;
  margin-top: -16px;
  margin-bottom: 16px;
  left: 0;
  outline: none;
  border: 0px;
  border-color: rgba(0, 0, 0, .50);
  background-color: white;
  font-size: 16px;
  display: inline;
  float: right;
}  
.count-list-item-cold-odd input[type=tel]{
  padding: 0;
  height: 32px;
  width:32px;
  position: relative;
  text-align: center;
  margin-top: -16px;
  margin-bottom: 16px;
  left: 0;
  outline: none;
  border: 0px;
  border-color: rgba(0, 0, 0, .50);
  background-color: white;
  font-size: 16px;
  display: inline;
  float: right;
} 




  



.count-list-item-frozen-even h1{

  display: inline;
  color:var(--color-text-light);
}
.count-list-item-frozen-odd h1{

  display: inline;
  color:var(--color-text-light);
}
.count-list-item-frozen-even button{
  background-color: var(--color-button-frozen);
  border: none;
  color: white;
  margin-top: -16px;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;    
  height: 32px;
  width:32px;
  display: inline;
  float: right;
}  
.count-list-item-frozen-odd button{
  background-color: var(--color-button-frozen);
  border: none;
  color: white;
  margin-top: -16px;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;    
  height: 32px;
  width:32px;
  display: inline;
  float: right;
} 
.count-list-item-frozen-even input[type=tel]{
  padding: 0;
  height: 32px;
  width:32px;
  position: relative;
  text-align: center;
  margin-top: -16px;
  margin-bottom: 16px;
  left: 0;
  outline: none;
  border: 0px;

  border-color: rgba(0, 0, 0, .50);
  background-color: white;
  font-size: 16px;
  display: inline;
  float: right;
}  
.count-list-item-frozen-odd input[type=tel]{
  padding: 0;
  height: 32px;
  width:32px;
  position: relative;
  text-align: center;
  margin-top: -16px;
  margin-bottom: 16px;
  left: 0;
  outline: none;
  border: 0px;

  border-color: rgba(0, 0, 0, .50);
  background-color: white;
  font-size: 16px;
  display: inline;
  float: right;
} 























.count-list-item-global-even h1{

  display: inline;
  color:var(--color-text-light);
}
.count-list-item-global-odd h1{

  display: inline;
  color:var(--color-text-light);
}
.count-list-item-global-even button{
  background-color:var(--color-button-global);
  border: none;
  color: white;
  margin-top: -16px;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;    
  height: 32px;
  width:32px;
  display: inline;
  float: right;
}  
.count-list-item-global-odd button{
  background-color: var(--color-button-global);
  border: none;
  color: white;
  margin-top: -16px;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;    
  height: 32px;
  width:32px;
  display: inline;
  float: right;
} 
.count-list-item-global-even input[type=tel]{
  padding: 0;
  height: 32px;
  width:32px;
  position: relative;
  text-align: center;
  margin-top: -16px;
  margin-bottom: 16px;
  left: 0;
  outline: none;
  border: 0px;

  border-color: rgba(0, 0, 0, .50);
  background-color: white;
  font-size: 16px;
  display: inline;
  float: right;
}  
.count-list-item-global-odd input[type=tel]{
  padding: 0;
  height: 32px;
  width:32px;
  position: relative;
  text-align: center;
  margin-top: -16px;
  margin-bottom: 16px;
  left: 0;
  outline: none;
  border: 0px;

  border-color: rgba(0, 0, 0, .50);
  background-color: white;
  font-size: 16px;
  display: inline;
  float: right;
} 